{% extends 'base.html' %}

{% block top %}
<li><a href="{{ url_for('profile.profile') }}">Profile</a>
{% endblock %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['destination'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="destination">destination</label>
    <input name="destination" id="destination"
      value="{{ request.form['destination'] or post['destination'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}