{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} {{ user['username'] }}'s Profile{% endblock %}</h1>
  <div>
    <p> Followers: {{follower_count}} </p> <p> Following: {{following_count}} </p>
  </div>
{% endblock %}


    {% block content %}
    <a href="{{ url_for('blog.follow', username= user['username']) }}">Follow</a>
    <a href="{{ url_for('blog.unfollow', username=user['username']) }}">UnFollow</a> <hr>
    {% for post in posts %}
      <article class="post">
        <header>
          <div>
            <h1>{{ post['title'] }}</h1>
            <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
          </div>
          {% if g.user['id'] == post['author_id'] %}
            <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          {% endif %}
        </header>
        <p class="body">{{ post['body'] }}</p>
        <br /> 
        <div class="card" id="comments-{{ post['id'] }}">
          <div class="card-body" id="comments-expanded-{{ post['id'] }}">
            {% if comments[post['id']] %}
              {% for comment in comments[post['id']] %}
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <b>{{ comment.username }}</b>: {{ comment.body }}
                  </div>
                  <div>
                    <small class="text-muted">{{ comment.created }}</small>
                  </div>
                  {% if g.user['id'] == comment.author_id %}
                    <a href="{{ url_for('blog.delete_comment', comment_id=comment.id) }}">Delete</a>
                  {% endif %}
                </div>
                <hr>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %} 
    {% endfor %}
  {% endblock %}
        <a href="{{ url_for('blog.follow', username= user['username']) }}">Follow</a>
        <a href="{{ url_for('blog.unfollow', username=user['username']) }}">UnFollow</a>